<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Best Quotes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                'main-color': '#17153B',
                'form-color': "#1D267D",
                'tag-color': '#433D8B',
                'quote-color': '#605C7C',
                'link-color': '#C8ACD6'
              }
            }
          }
        }
    </script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/cleanse.css' %}">
</head>
<body class="bg-main-color text-white">
<main class="pt-2">
    {% block content %} 
    {% endblock %}
</main>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>